:root {
  --font-size: 1.3rem;
  --fontColorVal: 0, 0, 0;
  --fontColor: rgb(var(--fontColorVal));
  --gold:  rgb(211, 166, 44);
  --dark: rgb(255, 255, 255);
  --navfoot: rgba(11, 11, 11, 0.89);
  --sectionClor: rgb(255, 255, 255);
  /*--sectionClor: rgb(36, 36, 36);*/
  /*rgb(49, 132, 143);*/
  --fontTitle: rgb(34, 67, 79);
  --transparent:rgba(143, 143, 143, 0);
  --logo: rgb(255, 250, 246);
  --skils-icon: rgb(255, 255, 255);

  --project-content-padding: 1vw;
  --section-padding: 1vw;
  /*--favorite-Project-img-Size: calc(22vh + 10vh);*/
  --project-nav-link-height: calc(36px);
  --favorite-Project-info-margin-top: calc(0.2rem + 0.1vw);
  --favoriteProject-img-padding: 1vw;
  --project-title-font-size: calc(0.6vw + 1.8rem);
  --project-title-font-height: calc(var(--project-title-font-size) + var(--project-subtitle-font-size) + 14px);
  --project-subtitle-font-size: calc(0.3vw + 0.9rem);;
  --brand-font-size: 2rem;
  --favorite-Project-img-Size-out: 1;
  --favorite-Project-img-Size-in: 0.5;
  --favorite-Project-info-Size-out: 0;
  --favorite-Project-info-Size-in: 0.5;
  --favorite-Project-Size: 50vh;
  --favorite-Project-dynamic-space: calc(
          var(--favorite-Project-Size) -
          var(--brand-font-size) -
          var(--favoriteProject-img-padding) -
          var(--project-title-font-height) -
          var(--favorite-Project-info-margin-top) -
          var(--font-size) -
          var(--project-nav-link-height)
  );

  --favorite-Project-speed--animation: 0.4s;


}
@media only screen and (max-width: 1222px) {
  :root {
    --project-title-font-height: calc(var(--project-title-font-size) * 2  + var(--project-subtitle-font-size) + 14px);
  }
}
@media only screen and (max-width: 992px) {
  :root {
    --project-title-font-height: calc(var(--project-title-font-size) + 8px);
  }

}
html{
  min-height: 100%;
}
body{
  background-color: var(--dark);
  background-size: 100%;
  background-position: center;
  min-height: 100%;
  padding:0;
  margin:0;
  font-family: Arimo,GeogrotesqueUltraLight,Arial,Helvetica,sans-serif;
  font-size: var(--font-size);
  color: var(--fontColor);
} 
body::after{ 
  content:''; 
  display:block; 
  height:2vh; 
}
.my-container{
  position: center;
  margin-left: 10vw;
  margin-right: 10vw;
}
.ParallaxImg{
  /* background-color: chocolate; */
  /* background: url('./black-and-white-wood.jpg'); */
  z-index: -1;
  display: inline-flex;
  top: 0;

} 
.title{
  margin: 1vw -4vw  0vw -4vw ;
  padding: 0.2vw 4vw;
  color: var(--gold);
  background-color: var(--fontTitle);
  font-family: 'Kanit', sans-serif;
  display: inline-block;
  font-size: 3rem;
  letter-spacing: 3px;
    /*box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);*/
}
.sub-titel{
  margin-right: 0.3rem;
  font-family: Arimo,GeogrotesqueUltraLight,Arial,Helvetica,sans-serif;
  font-size: var(--font-size);
}
.skils-icon{
    font-size: var(--font-size);
    color: var(--skils-icon);
    margin-right: 0.3vw;
}
.brand {
  font-size: var(--brand-font-size);
  color: rgba(175, 130, 5, 0.9);
  margin-right: 0.7vh;
}
.link{
  font-size: var(--font-size);
  color: var(--gold)
}
.home-color{
  color: var(--gold);
}
.halfTransparent{
  background: var(--navfoot);
}
nav{
  background: var(--transparent);
  -webkit-box-shadow: 0px 0px 0px var(--transparent); !important;
  box-shadow: 0px 0px 0px var(--transparent); !important;
}
.section{
  padding: var(--section-padding);
  margin:  calc(5px + 0.75vw) 0vw calc(5px + 0.7vw) 0vw;
  background-color: var(--sectionClor);
  /*box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);*/
}
.void-section { 
  margin: calc(var(--section-padding)*(-1)) !important;
}
.section-padding{
  padding-left:  calc(var(--section-padding)*2) !important;
  padding-right:  calc(var(--section-padding)*2) !important;
}
.content-padding{
  padding-left:  calc(var(--section-padding)) !important;
  padding-right:  calc(var(--section-padding)) !important;
}
.void-padding{ 
  padding:  0px  !important;
}

.page{
  padding-top: calc(15px + 0vw);
  /* padding-bottom: calc(55px + 0vw); */
}

.display-inline{
  display: inline-block;
}
.halfway{
  position: relative;
  padding: 0px var(--section-padding);
  top: -1rem;
  margin-bottom: -1rem;
}
.padding{ 
  padding: calc(var(--section-padding)*2) !important;
}
.padding-little{ 
  padding: 0rem 0.4rem;
}
.padding-left{ 
  padding-left: calc(var(--section-padding)*2) !important;
}
.no-margin-top-bottom{
  margin-top: 0vw;
  margin-bottom: 0vw;
}
.no-padding{
  padding: 0vw;
}
.margin{
  margin: 1vw;
}
.no-margin{
  margin: 0vw;
}
.margin-top{
  margin-top: 0.5vw;
}
.float-left{
  float: left;
}
.float-right{
  float: right;
}
.table-row{
  display: table-row;
}
.table-cell{
display: table-cell;
}
.edit{
  display: inline;
  float: right;
  background-color: rgba(211, 166, 44, 0.5);
}
.remove{
    display: inline;
    float: right;
}
.edit:hover{
  background-color: rgba(211, 166, 44, 0.9);
}
.close{
  position: fixed;
  right: 0.5vw;
  top: 0.5vw;
  background-color: rgba(0, 0, 0, 0.6);
}
.close:hover{
  background-color: rgba(168, 168, 168, 0.6);
}

.nav-link{
  padding-top: 1.6vw ;
  font-size: 1.5vw;
  height: 7vw;
}

.nav-wrapper{
  z-index: 2;
  margin-top: 2.6vw;
  height: 7vw;
  min-height: 3rem;
}
.fixed-position{
  z-index: 2;
  position: fixed;
  width: 100%;
}
.fixed-in-right{
  position: fixed;
  right: 0.5vw;
  top: 0.5vw;
}
.to-bottom{
  font-size: 0;
  position: relative;
  padding: 0.3rem;
  padding-left: 1rem;
  z-index: 1;
  margin-top: -2.6rem;
  background-color: rgba(0, 0, 0, 0.2);
  
}
.logo{
  margin-top: 0.6vw;
  margin-bottom: -10vw;
  margin-left: -9vw;
  font-family: 'Manuale', serif;
  font-family: 'Donegal One', serif;
  font-family: 'Gugi', cursive;
  font-size: calc(20px + 3.4vw);
  color: var(--logo);
  display: inline-block;
}
.footer{ 
  position: relative;;  
  bottom:0; 
  width:100%; 
}
.Favorites-projects-list{
  display: flex;
}
.project-col{
  /*flex: 1;*/
  width: 33%;

}
.fullHeight{
  height: 92%;
}
.fullHeight{
  height: calc(100% - calc( 2.3rem +  var(--section-padding)));
}

.project-title{
margin-right: 0.3rem;
margin-top: 0vw;
margin-bottom: 0vw;
font-size: var(--project-title-font-size);
}
.project-sub-title{
height: calc(0.3vw + 0.9rem);
min-width:  calc(15vw);
margin-top: 0vw;
margin-bottom: 0vw;
font-size:  var(--project-subtitle-font-size);
}
.favoriteTitle{
  height: var(--project-title-font-height);
}
.favoriteProject{
  border-radius: 10px 10px 0px 0px;
  height: var(--favorite-Project-Size);
  display: inline-block;
}
@keyframes favoriteProject-img-out-animation {
  from {
    height: calc(var(--favorite-Project-dynamic-space)*var(--favorite-Project-img-Size-in));
            /*calc(var(--favorite-Project-img-Size) - 13vh);*/
  }
  to {
    height: calc(var(--favorite-Project-dynamic-space)*var(--favorite-Project-img-Size-out));

  /*var(--favorite-Project-img-Size);*/
  }
}
@keyframes favoriteProject-img-in-animation {
  from{
    height: calc(var(--favorite-Project-dynamic-space)*var(--favorite-Project-img-Size-out));
    /*var(--favorite-Project-img-Size);*/
  }
  to {
    height: calc(var(--favorite-Project-dynamic-space)*var(--favorite-Project-img-Size-in));
    /*calc(var(--favorite-Project-img-Size) - 13vh);*/
  }
}
.favoriteProject-img-in{
  border-radius: 10px 10px 0px 0px;
  vertical-align:top;
  position: initial;
  padding: var(--favoriteProject-img-padding);
  height: calc(var(--favorite-Project-dynamic-space)*var(--favorite-Project-img-Size-in));
  /*calc( var(--favorite-Project-img-Size) - 13vh);*/
  background-size: cover;
  animation-name: favoriteProject-img-in-animation;
  animation-timing-function: ease-in;
  animation-duration:  var(--favorite-Project-speed--animation);
}
.favoriteProject-img-out{
  border-radius: 10px 10px 0px 0px;
  vertical-align:top;
  padding:  var(--favoriteProject-img-padding);
  height: calc(var(--favorite-Project-dynamic-space)*var(--favorite-Project-img-Size-out));
  /*var(--favorite-Project-img-Size);*/
   background-size: cover;
   animation-name: favoriteProject-img-out-animation;
   animation-timing-function: ease-in;
   animation-duration: var(--favorite-Project-speed--animation);
 }
.favoriteProject-img {
  border-radius: 10px 10px 0px 0px;
  vertical-align:top;
  padding:  var(--favoriteProject-img-padding);
  height: calc(var(--favorite-Project-dynamic-space)*var(--favorite-Project-img-Size-out));
  background-size: cover;
}
.project-summary-img{
  margin: 0vw !important;
  padding: 1vw;
  height: 22.7vw;
  background-size: cover;
}
.project-img{
  height: 100%;
  width: 100%;
  background-size: cover;
}
.favorite-margin{
  margin-left:  2.5%;
  margin-right:  2.5%;
}
@keyframes favorite-Project-in-animation {
  from {
    max-height: calc(var(--favorite-Project-dynamic-space)*var(--favorite-Project-info-Size-out));
  }
  to {
    max-height: calc(var(--favorite-Project-dynamic-space)*var(--favorite-Project-info-Size-in));
  }
}
@keyframes favorite-Project-out-animation {
  from {
    max-height: calc(var(--favorite-Project-dynamic-space)*var(--favorite-Project-info-Size-in));
  }
  to {
    max-height: calc(var(--favorite-Project-dynamic-space)*var(--favorite-Project-info-Size-out));
  }
}
.inset-box-shadow{
  /*z-index: 0;*/
  /*box-shadow: inset 0px -8px 5px 0px rgba(0,0,0,0.3);*/
  /*position:absolute;*/
  /*width:10%;*/
  /*height: 100%;*/
}
.favorite-Project-info-wrapper{
  position:relative;

}

.project-info,.summary-info-project{
  display: block;
  display: -webkit-box;
  max-width: 100%;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  margin-top: calc(0.2rem + 0.1vw);
}
.favorite-Project-info-in {
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: calc(var(--favorite-Project-dynamic-space) * var(--favorite-Project-info-Size-in));
  line-height: 1.8em;
  display: -webkit-box;
  max-width: 100%;
  -webkit-box-orient: vertical;
  margin-top: calc(0.2rem + 0.1vw);
  animation-name: favorite-Project-in-animation;
  animation-timing-function: ease-in;
  animation-duration: var(--favorite-Project-speed--animation);
  background: linear-gradient(180deg, rgba(var(--fontColorVal),1) 0%, rgba(var(--fontColorVal),1) 75%, rgba(var(--fontColorVal),0.3) 90%, rgba(var(--fontColorVal),0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}
.favorite-Project-info-out{
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: calc(var(--favorite-Project-dynamic-space)*var(--favorite-Project-info-Size-out));
  line-height: 1.8em;
  display: -webkit-box;
  max-width: 100%;
  -webkit-box-orient: vertical;
  margin-top: calc(0.2rem + 0.1vw);
  animation-name: favorite-Project-out-animation;
  animation-timing-function: ease-in;
  animation-duration:  var(--favorite-Project-speed--animation);
  background: linear-gradient(180deg, rgba(var(--fontColorVal),1) 0%, rgba(var(--fontColorVal),1) 75%, rgba(var(--fontColorVal),0.3) 90%, rgba(var(--fontColorVal),0.1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}

.favorite-Project-info{
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: calc(var(--favorite-Project-dynamic-space)*var(--favorite-Project-info-Size-out));
  line-height: 1.8em;
  display: -webkit-box;
  max-width: 100%;
  -webkit-box-orient: vertical;
  margin-top: calc(0.2rem + 0.1vw);
  background: linear-gradient(180deg, rgba(var(--fontColorVal),1) 0%, rgba(var(--fontColorVal),1) 75%, rgba(var(--fontColorVal),0.3) 90%, rgba(var(--fontColorVal),0.1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}
/* .summary-info{
  -webkit-line-clamp: 3;
} */
.summary-info-project{
  -webkit-line-clamp:5;
}
.project-NavBtn{
  background-color:white;
  color: var(--gold);
  width: 100%;
  height: var(--project-nav-link-height);
  border-radius: 0px 0px 10px 10px;
  overflow: hidden;

}
.btn-style{
  display: inline-block;
  height: var(--project-nav-link-height);
  background-color: rgba(207, 205, 211, 0.2);
  color: var(--gold);
  width: 100%;
  font-weight: bold;
  /*margin: 0px 1vw 0px 0px;*/
  letter-spacing: .5px;
  line-height: 36px;
  text-transform: uppercase;
  padding-right: 0.5vw;
  padding-left: 0.5vw;
  }
.btn-style:hover{
  background-color: var(--gold);
  color: white;

}
.carousel-item, .carousel {
  height: 32vw !important;
}
.carousel-item {
  background-size: 100%;
}

@media only screen and (max-width: 992px) {
  .Favorites-projects-list {
    display: block;
  }
  .project-col{
    width: 100%;
    display: block;
  }
  .favorite-margin{
    margin:  0;
  }
  /*.favoriteProject-img{*/
  /*  height: 30vh;*/
  /*  background-size: cover;*/
  /*}*/
  .project-summary-img{
    height: 32vh;
    background-size: cover;
  }
  .summary-info{
    -webkit-line-clamp: 4;
  }

}

/*Horizontal pads and laptops*/
@media only screen and (min-width: 992px) {

}

/* Really large screens*/
@media only screen and (min-width: 1382px) {

}


/*@media only screen and (max-height: 690px) and (min-width: 780px) {*/
/*  !*.favoriteProject-img{*!*/
/*  !*  height: 10vh;*!*/
/*  !*  background-size: cover;*!*/
/*  !*}*!*/

/*  .project-summary-img{*/
/*    height: 30vh;*/
/*    background-size: cover;*/
/*  }*/
/*  .summary-info{*/
/*    -webkit-line-clamp: 2;*/
/*  }*/

/*}*/
/*@media only screen and (min-height: 720px) {*/

/*  .summary-info{*/
/*    -webkit-line-clamp: 3;*/
/*  }*/
/* */
/*}*/
/*@media only screen and (min-height: 740px) {*/
/*  .summary-info{*/
/*    -webkit-line-clamp: 4;*/
/*  }*/
/* */
/*}*/
/*@media only screen and (min-height: 760px) {*/
/*  .summary-info{*/
/*    -webkit-line-clamp: 5;*/
/*  }*/
/* */
/*}*/
/*@media only screen and (min-height: 780px) {*/
/*  :root{*/
/*    --favorite-Project-img-Size: 30vw;*/
/*  }*/
/*  .summary-info{*/
/*    -webkit-line-clamp: 6;*/
/*  }*/
/*  */
/*}*/

/*@media only screen and (min-height: 810px) {*/
/*  :root{*/
/*    --favorite-Project-img-Size: 20vw;*/
/*  }*/
/*  .summary-info{*/
/*    -webkit-line-clamp: 8;*/
/*  }*/
/*  */
/*}*/
/*@media only screen and (min-width: 780px) {*/
/*  :root{*/
/*    --favorite-Project-img-Size: 20vw;*/
/*  }*/
/*  !*.favoriteProject-img{*!*/
/*  !*  height: 20vh;*!*/
/*  !*  background-size: cover;*!*/
/*  !*}*!*/
/*}*/
