@import url("https://fonts.googleapis.com/css?family=Scope+One|Trocchi");

@font-face {
    font-family: LemonMilkLight-owxMq;
    src: url('fonts/LemonMilkLight-owxMq.otf');
}

:root {
    --font-size: 13pt;
    --logo-font-size: calc(10px + 1em);
    /*--nav-height: max(var(--logo-font-size), 10vh);*/
    --fontColorVal: 0, 0, 0;
    --fontColor: rgb(var(--fontColorVal));
    --font-section-color: rgb(36, 36, 36);
    --bright-gold: rgb(225, 176, 47);
    --gold: rgb(173, 137, 35);
    --background-color: rgb(191, 191, 191);
    --navbar: rgba(0, 0, 0, 0.8);
    --navfoot: rgb(33, 36, 44);
    --home-background: linear-gradient(rgba(9, 9, 9, 0.8) 0%, rgba(9, 9, 9, 0.6) 50%, rgba(255, 255, 0, 0) 100%);
    --sectionClor: rgb(255, 255, 255);
    --homeColor: rgb(36, 36, 36);
    /*rgb(49, 132, 143);*/
    --fontTitleColor: rgb(36, 36, 36);
    --transparent: rgba(143, 143, 143, 0);
    --logo: rgb(255, 250, 246);
    --skills-icon: rgb(36, 36, 36);
    --my-container-margin: 10vw;
    --project-info-padding: 2vw;
    --project-content-padding: 1vw;
    --section-padding: calc(1rem + 0.5vw);
    /*--project-display-img-Size: calc(22vh + 10vh);*/
    --project-nav-link-height: 36px;
    --project-nav-link-margin-top: 0.5em;
    --project-display-btn-top-margin: calc(0.1rem + 0.06vw);
    --project-display-info-btn-margin: var(--project-display-btn-top-margin);
    --project-Technologies-icons: 2.2rem;
    --project-display-img-padding: 1vw;
    --project-title-padding-top: 0.5em;
    --project-title-font-size: calc(0.6vw + 1.8rem);
    --project-main-title-padding-bottom: calc(var(--project-title-font-size) * 0.2);
    --project-main-title-height: calc(var(--project-title-font-size) + var(--project-main-title-padding-bottom));
    --project-subtitle-font-size: calc(0.3vw + 1em);
    --project-subtitle-padding-bottom: calc(var(--project-subtitle-font-size) * 0.3);
    --project-subtitle-height: calc(var(--project-subtitle-font-size) + var(--project-subtitle-padding-bottom));
    --project-title-height: calc(var(--project-main-title-height) + var(--project-main-title-padding-bottom) + var(--project-subtitle-height) + var(--project-subtitle-padding-bottom));
    --project-skills-icon-font-size: 2rem;
    --project-display-img-Size-out: 1;
    --project-display-img-Size-in: 0.5;
    --project-display-info-Size-out: 0;
    --project-display-info-Size-in: 0.5;
    --project-display-Size: 75vh;
    --project-display-dynamic-space: calc(
            var(--project-display-Size) -
            var(--project-Technologies-icons) -
            var(--project-title-height) -
            var(--project-nav-link-height) -
            var(--project-nav-link-margin-top)
    );
    --project-display-speed--animation: 0.3s;
}

html {
    min-height: 100%;
}

body {
    background: linear-gradient(to right, #dee3e9, #e7eaef, #e5eaee, #e5eaee 50%, #e1e6ec, #d4dbe2 85%, #b9c0d0);
    background-size: 100%;
    background-position: center;
    min-height: 100%;
    padding: 0;
    margin: 0;
    color: var(--fontColor);
}

body, input, select, textarea, button {
    font-family: Scope One, Arimo, serif;
    font-size: 14pt;
    font-weight: 300;
    line-height: 1.65;
}

@media screen and (max-width: 1680px) {

    body, input, select, textarea {
        font-size: 12pt;
    }

}

@media screen and (max-width: 1280px) {

    body, input, select, textarea {
        font-size: 12pt;
    }

}

@media screen and (max-width: 980px) {

    body, input, select, textarea {
        font-size: 13pt;
    }

}

@media screen and (max-width: 736px) {

    body, input, select, textarea {
        font-size: 13pt;
    }

}

@media screen and (max-width: 480px) {

    body, input, select, textarea {
        font-size: 13pt;
    }

}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    line-height: 1.5;
    margin: 0 0 1em 0;
    font-family: Scope One, Arimo, serif;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 3em;
    margin-bottom: .25em;
}

@media screen and (max-width: 736px) {

    h1 {
        font-size: 2.5em;
    }

}

h2 {
    font-size: 2.5em;
}

@media screen and (max-width: 736px) {

    h2 {
        font-size: 2em;
    }

}

@media screen and (max-width: 480px) {

    h2 {
        font-size: 1.5em;
    }

}

h3 {
    font-size: 1.75em;
}

@media screen and (max-width: 736px) {

    h3 {
        font-size: 1.5em;
    }

}

@media screen and (max-width: 480px) {

    h3 {
        font-size: 1.25em;
    }

}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1em;
    margin: 0;
}

input {
    color: inherit;
}

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.3s;
    visibility: visible;
}

[data-title]:after {
    font-size: calc(var(--font-size) - 0.4rem);
    content: attr(data-title);
    position: absolute;
    bottom: 1.3em;
    left: 0.8em;
    padding: 4px;
    white-space: nowrap;
    -moz-box-shadow: 0 0 4px #222;
    -webkit-box-shadow: 0 0 4px #222;
    box-shadow: 0 0 4px #222;
    background-color: #282c34;
    color: white;
    opacity: 0;
    z-index: 99999;
    visibility: hidden;
}

[data-title] {
    position: relative;
}

::-webkit-scrollbar {
    display: none;
}

.vertical-text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.my-container {
    position: center;
    padding-left: var(--my-container-margin);
    padding-right: var(--my-container-margin);
}

.title {
    position: relative;
    left: calc(-35px - 3vw);
    margin-top: 0;
    margin-bottom: 0;
    padding: 0.2vw 4vw;
    color: var(--bright-gold);
    background-color: var(--fontTitleColor);
    display: inline-block;
    font-size: 2.5em;
    letter-spacing: 3px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.sub-title {
    margin-right: 0.3rem;
    margin-bottom: 0 !important;
    font-weight: 600;
}

.skills-icon {
    font-size: var(--font-size);
    color: var(--skills-icon);
    fill: var(--skills-icon);
    stroke: var(--skills-icon);;
    margin-right: 0.3vw;
    height: var(--font-size);
    width: var(--font-size);
}

.skill-title {
    color: var(--skills-icon);
    margin-left: 0.6rem;
}

.project-skills-icon {
    font-size: var(--project-skills-icon-font-size);
    color: rgba(175, 130, 5, 0.9);
    fill: rgba(175, 130, 5, 0.9);
    stroke: rgba(175, 130, 5, 0.73);
    margin-right: 0.7vh;
    height: var(--project-skills-icon-font-size);
    width: var(--project-skills-icon-font-size);
    line-height: normal !important;
}

.project-skills-title {
    font-size: var(--project-skills-icon-font-size);
    color: rgba(175, 130, 5, 0.9);
}

.skills-icon-svg {
    position: relative;
    top: 0.2rem;
    overflow: visible !important;
}

.link {
    cursor: pointer;
    color: var(--gold);
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
}

.bright-link {
    cursor: pointer;
    color: var(--bright-gold);
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
}

.link:focus {
    background-color: rgba(255, 255, 255, 0);
}

/*.bold-link {*/
/*    cursor: pointer;*/
/*    font-size: var(--font-size);*/
/*    font-weight: bold;*/
/*    color: dodgerblue;*/
/*    background-color: rgba(255, 255, 255, 0);*/
/*    border: 0;*/
/*}*/

/*.bold-link:focus {*/
/*    background-color: rgba(255, 255, 255, 0);*/
/*}*/

.home-color {
    color: var(--gold);
}

.footer-wrapper {
    position: absolute;
    background: var(--navfoot);
    padding-top: 20px;
    width: 100%;
}

nav {
    height: 4.5rem;
    background: var(--transparent);
    -webkit-box-shadow: 0 0 0 var(--transparent) !important;
    box-shadow: 0 0 0 var(--transparent) !important;
    overflow: hidden;
}
@media only screen and (max-width: 600px)  {
    nav {
        height: 7rem;
    }
}

.section {
    padding: var(--section-padding);
    margin: calc(5px + 0.75vw) 0 calc(5px + 0.7vw) 0;
}

.section-padding {
    padding: calc(var(--section-padding) * 2) !important;
}

.content-padding {
    padding-left: var(--section-padding) !important;
    padding-right: var(--section-padding) !important;
}

.void-padding {
    padding: 0 !important;
}

.page {
    padding-top: 5px;
    padding-bottom: calc(10px + 1vh);
}

.display-inline {
    display: inline-block;
}

.display-block {
    display: block;
}

.tech-icon  {
    position: relative;
    padding: 0 var(--section-padding);
    height: var(--project-Technologies-icons);
    overflow: hidden;
    background-color: white;
}

.padding {
    padding: calc(var(--section-padding) * 2) !important;
}

.padding-left {
    padding-left: calc(var(--section-padding) * 2) !important;
}

.no-margin-top-bottom {
    margin-top: 0;
    margin-bottom: 0;
}

.no-padding-left-right {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.no-padding-left {
    padding-left: 0 !important;
}

.no-padding {
    padding: 0;
}

.margin {
    margin: 1vw;
}

.margin-right {
    margin-right: 1vw;
}

.no-margin {
    margin: 0;
}

.margin-top {
    margin-top: 0.5vw;
}

.edit {
    position: relative;
    left: 49vw;
    margin-bottom: -40px;
    top: 20px;
    display: inline-block;
    background-color: rgba(211, 166, 44, 0.5);
    z-index: 8;
}

.remove {
    display: inline;
    float: right;
}

.edit:hover {
    background-color: rgba(211, 166, 44, 0.9);
}

.close {
    position: fixed;
    right: 0.5vw;
    top: 0.5vw;
    background-color: rgba(0, 0, 0, 0.6);
}

.close:hover {
    background-color: rgba(168, 168, 168, 0.6);
}

.nav-link {
    padding: calc(15px + 1vw) 15px 10px 15px;
    font-size: 1.5em;
    line-height: 1.5em !important;
    height: auto !important;
    cursor: pointer;
}

.mobile-menu .nav-link {
    cursor: pointer;
    font-size: 1em;
    padding-left: 0.5em;
}

.mobile-menu .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.07);
}

.nav-link:hover {
    transform: scale(1.08);
    transition-duration: 0.3s;
    background-color: rgba(255, 255, 255, 0.05);
}

.nav-link:active {
    background-color: rgba(255, 255, 255, 0.3);
}

.sidenav {
    font-size: 1em;
    color: rgba(251, 236, 255, 0.87);
    width: initial;
    background-color: #282c34;
}

.sidenav li > a {
    color: rgba(251, 236, 255, 0.87);
}

.sidenav li > a > i, .sidenav li > a > [class^="mdi-"], .sidenav li > a li > a > [class*="mdi-"], .sidenav li > a > i.material-icons, li > a > i.project-skills-icon {
    color: var(--bright-gold);
    float: none;
}

.nav-wrapper {
    background: var(--navbar);
!important;
}

.modal {
    width: 75%;
    max-height: 80%;
    overflow-y: scroll;
    scrollbar: none;
    border-radius: 0 25px 0 25px;
    padding: 0;
    /*overflow: hidden;*/
}
@media only screen and (max-width: 600px)  {
    .modal {
        width: 95%;
    }
}

.header {
    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-color: rgba(36, 36, 36, 0);
    background-image: url('./blackMarble.jpg');
    background-blend-mode: overlay;
    animation-name: background-animation;
    animation-timing-function: ease-in;
    animation-duration: 3s;
}

@keyframes background-animation {
    from {
        background-color: var(--homeColor);
    }
    to {
        background-color: rgba(36, 36, 36, 0);
    }
}

.projects {
    position: relative;
    top: calc(  calc(calc(var(--section-padding) * 2) + 2em) - 32vh);
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.2) 40%, rgba(0, 0, 0, 0.05) 80%, rgba(0, 0, 0, 0.3) 95%, rgba(0, 0, 0, 0.0) 100%);
    margin-bottom: -22vh;
    min-height: var(--project-display-Size);
}

.home {
    background-image: var(--home-background);
    padding-bottom: 25vh;
    min-height: 45vh;
    color: rgba(255, 255, 255, 0.85);
}

.welcome {
    text-align: center;
    line-height: 1.8em;
    font-size: 1.4em;
    z-index: -3;
}

.focus-zoom-in {
    transition: 0.3s;
}

.focus-zoom-in:hover {
    transform: scale(1.2);
}



.gold-btn {
    display: inline-block;
    line-height: var(--project-nav-link-height);
    background-color: var(--bright-gold);
    color: rgb(238, 238, 238);
    border-radius: 3px;
    padding: 0 0.5em !important;
    font-weight: bold;
    font-family: inherit;
    border-width: 0;
    margin-top: var(--project-nav-link-margin-top);
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
    font-size: 1em;
    transition: 0.3s;
    text-align: center;
    text-decoration: none;
}

.gold-btn:hover {
    background-color: rgba(255, 255, 255, 0.85);
    color: var(--gold);
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.6);
}

a.gold-btn{
    padding-top: 0.5em;
}
.about {
    background: linear-gradient(to right, #dee3e9, #e7eaef, #e1e6ec, #b2bdcd);
    background-image: url('./jesus-kiteque-wn-KYaHwcis-unsplash2000.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}

.more-about {
    background-color: #4ba3da;
    color: rgba(255, 255, 255, 0.95);
}

.about-info {
    padding: 0 !important;
}

.about-skills {
    border-style: solid;
    border-radius: 10px;
    padding: 0 0.5em;
    border-color: rgba(166, 176, 193, 0.16);
    border-width: 4px;
    background-color: rgba(233, 238, 253, 0.62);
}

.skills-title {
    text-align: center;
    margin: 0;
}

.skills-libraries {
    float: right;
    width: initial;
    margin-top: 0;
}

.skills-libraries ul {
    margin: 0;
}

.skills-libraries-title {
    width: min-content;
}

.hobbies-section {
    position: relative;
    margin-top: 5rem;
    margin-bottom: 0 !important;
    padding-left: 0  !important;
    padding-right: 0 !important;
}

@media only screen and (max-width: 412px) {
    .hobbies-section {
        margin-top: 10rem;
        margin-bottom: 1rem;
    }
}
@media only screen and (min-width: 412px) {
    .hobbies-section {
        padding-left: calc(var(--section-padding) + 10%)  !important;
        padding-right: calc(var(--section-padding) + 10%)  !important;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .hobbies-section {
        margin-top: 6rem;
        margin-bottom: 1rem;
        padding-left: var(--section-padding) !important;
        padding-right: var(--section-padding) !important;
    }
}

@media only screen and (min-width: 992px) {
    .hobbies-section {
        position: relative;
        margin-top: 6rem;
        margin-bottom: 1rem;
        padding-left: calc(var(--section-padding) + 15%) !important;
        padding-right: calc(var(--section-padding) + 15%) !important;
    }
}
@media only screen and (min-width: 1200px) {
    .hobbies-section {
        position: relative;
        margin-top: 5rem;
        margin-bottom: 0 !important;
        padding-left: calc(var(--section-padding) + 20%) !important;
        padding-right: calc(var(--section-padding) + 20%) !important;
    }
}

.hobbies-title {
    position: relative;
    top: 3rem;
    margin-left: calc(calc(var(--section-padding) * 2) + var(--my-container-margin));
    height: 0;
}

.hobbies-image {
    height: auto;
    width: 100%;
}

.bmx {
    background-color: #da5a42;
    background-image: linear-gradient(-30deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.08) 30%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.08) 70%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.08) 100%);
    color: rgba(255, 255, 255, 0.95);
}

.surfing {
    background-color: #2b7356;
    background-image: linear-gradient(30deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.08) 30%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.08) 70%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.08) 100%);
    color: rgba(255, 255, 255, 0.95);
}

.snowboard {
    background-image: linear-gradient(30deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.08) 30%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.08) 70%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.08) 100%);
    background-color: #4c83a0;
    color: rgba(255, 255, 255, 0.95);
}

.garden {
    background-image: linear-gradient(-30deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.08) 30%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.08) 70%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.08) 100%);
    background-color: #e08727;
    color: rgba(255, 255, 255, 0.95);
}

.hobbies-image.left-side {
    border-radius: 70vh 0 0 70vh;
}

.hobbies-image.right-side {
    border-radius: 0 70vh 70vh 0;
}

.image-wrapper.right-side {
    display: inline-block;
    padding: 7px 7px 7px 7px;
    background: linear-gradient(to right, rgba(255, 171, 186, 0), rgba(254, 241, 255, 0.8), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
    border-radius: 0 70vh 70vh 0;

}

.image-wrapper.left-side {
    display: inline-block;
    padding: 7px 7px 7px 7px;
    background: linear-gradient(to left, rgba(255, 171, 186, 0), rgba(254, 241, 255, 0.8), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
    border-radius: 70vh 0 0 70vh;
}

.hobbies-description {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    padding-top: 0;
    margin-top: 7px;
}

.contact-section {
    background-color: #282c34;
    margin-top: -40px;
    color: white;
}

.contact-title {
    background-image: url('/contact.svg') !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: initial;
}

.contact-title .title {
    display: inline-block;
    background-color: rgba(248, 248, 255, 0);
    box-shadow: none;
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: 0.3em;
    margin-bottom: 0.7em;
}

.input-field .prefix.active {
    color: var(--bright-gold);
}

.input-field input[type=text]:focus + label, input[type=email]:focus + label, textarea.materialize-textarea:focus + label {
    color: var(--bright-gold) !important;
}

.input-field input[type=text]:focus, input[type=email]:focus, textarea.materialize-textarea:focus {
    border-bottom: 1px solid var(--bright-gold) !important;
    box-shadow: 0 1px 0 0 var(--bright-gold) !important;

}


.contact-input {
    margin-top: 1em;
}

.fixed-in-right {
    position: fixed;
    right: 0.5vw;
    top: 0.5vw;
}

.to-bottom {
    font-size: 0;
    position: relative;
    padding: 0.3rem;
    padding-left: 1rem;
    z-index: 1;
    margin-top: -2.6rem;
    background-color: rgba(0, 0, 0, 0.2);

}

.brand-logo {
    padding:1rem 1rem 0.1rem 1rem !important;
    /*background-color: rgba(255, 255, 255, 0.98);*/
    background-color: rgba(255, 255, 255, 0.99);
    color: #000000 !important;
    line-height: var(--logo-font-size);
    font-size: var(--logo-font-size) !important;
    font-family: LemonMilkLight-owxMq;
    display: inline-block;
}

.logo {
    display: inline-block;
}

.logo-continue {
    position: relative;
    padding-left: 0.5em;
    line-height: 0;
}

.footer {
    position: relative;;
    bottom: 0;
    width: 100%;
}

.add-project {
    position: relative;
    left: 49vw;
    margin-bottom: 40px;
    top: 40px;
}

.project-wrapper {
    display: inline-block;
    width: calc(100% - 46px - 1vw);
}

.project-title {
    margin-right: 0.3rem;
    margin-bottom: 0;
    margin-top: 0;
    font-size: var(--project-title-font-size);
    padding-bottom: var(--project-main-title-padding-bottom);
    height: var(--project-main-title-height);
}

.project-sub-title {
    min-width: calc(15vw);
    margin-top: 0;
    margin-bottom: 0;
    font-size: var(--project-subtitle-font-size);
    height: var(--project-subtitle-height);
    padding-bottom: var(--project-subtitle-padding-bottom);
}

.project-display-title {
    padding-top: var(--project-title-padding-top);
    height: var(--project-title-height);
    overflow: hidden;
}

.project-display-background {
    border-radius: 12px;
    background-color: var(--background-color);
    height: var(--project-display-Size);
    overflow: hidden;
}

.project-display {
    border-radius: 10px;
    overflow: hidden !important;
    height: var(--project-display-Size);
    display: inline-block;
    /*margin-bottom: 40px;*/
}

.project-display-img-in {
    height: calc(var(--project-display-dynamic-space) * var(--project-display-img-Size-in));
    animation-name: project-display-img-in-animation;
    animation-timing-function: ease-in-out;
    animation-duration: var(--project-display-speed--animation);
}

@keyframes project-display-img-in-animation {
    from {
        height: calc(var(--project-display-dynamic-space) * var(--project-display-img-Size-out));
    }
    to {
        height: calc(var(--project-display-dynamic-space) * var(--project-display-img-Size-in));
    }
}

.project-display-img-out {
    height: calc(var(--project-display-dynamic-space) * var(--project-display-img-Size-out));
    animation-name: project-display-img-out-animation;
    animation-timing-function: ease-in-out;
    animation-duration: var(--project-display-speed--animation);
}

@keyframes project-display-img-out-animation {
    from {
        height: calc(var(--project-display-dynamic-space) * var(--project-display-img-Size-in));
    }
    to {
        height: calc(var(--project-display-dynamic-space) * var(--project-display-img-Size-out));

    }
}

.project-display-img-effect {
    margin-top: calc(calc(var(--project-display-dynamic-space) * var(--project-display-img-Size-out)) * -1);
    height: calc(var(--project-display-dynamic-space) * var(--project-display-img-Size-out));
    width: 100%;
    /*background: linear-gradient(180deg, rgba(255,255,255,0) 20%, rgba(255,255,255,0) 40%, rgba(0,0,0,0) 87%, rgba(0,0,0,0.2) 95%, rgba(0,0,0,0.5) 100%);*/
}

.project-display-img {
    vertical-align: top;
    /*padding: var(--project-display-img-padding);*/
    background-size: cover;
    background-color: var(--homeColor);
    background-position: top;
}

.project-display-img-initiali {
    height: calc(var(--project-display-dynamic-space) * var(--project-display-img-Size-out));
}

.project-img {
    height: 100%;
    width: 100%;
    background-size: cover;
    border-radius: 0.5em;
    border-width: 5px ;
    border-style: solid;
    border-color: rgba(183, 183, 183, 0.35);

}

@keyframes project-display-in-animation {
    from {
        height: calc(var(--project-display-dynamic-space) * var(--project-display-info-Size-out));
    }
    to {
        height: calc(var(--project-display-dynamic-space) * var(--project-display-info-Size-in));
    }
}

@keyframes project-display-out-animation {
    from {
        height: calc(var(--project-display-dynamic-space) * var(--project-display-info-Size-in));
    }
    to {
        height: calc(var(--project-display-dynamic-space) * var(--project-display-info-Size-out));
    }
}

.project-display-info-wrapper {
    position: relative;
}

.project-info {
    display: -webkit-box;
    max-width: 100%;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    padding-left: var(--project-info-padding);
    margin-top: 0;

}

.project-display-info-in {
    height: calc(var(--project-display-dynamic-space) * var(--project-display-info-Size-in));
    animation-name: project-display-in-animation;
    animation-timing-function: ease-in-out;
    animation-duration: var(--project-display-speed--animation);
}

.project-display-info-out {
    height: calc(var(--project-display-dynamic-space) * var(--project-display-info-Size-out));
    animation-name: project-display-out-animation;
    animation-timing-function: ease-in-out;
    animation-duration: var(--project-display-speed--animation);
}

.project-display-info-initiali {
    height: calc(var(--project-display-dynamic-space) * var(--project-display-info-Size-out));
}

.project-display-info {
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    display: -webkit-box;
    max-width: 100%;
    -webkit-box-orient: vertical;
    background: linear-gradient(180deg, rgba(var(--fontColorVal), 1) 0%, rgba(var(--fontColorVal), 1) 75%, rgba(var(--fontColorVal), 0.3) 90%, rgba(var(--fontColorVal), 0.1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

.project-display-NavBtn {
    color: var(--gold);
    width: 100%;
    height: var(--project-nav-link-height);
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    margin-top: 0;
}

.project-NavBtn {
    float: left;
    display: inline-block;
    color: var(--gold);
    overflow: hidden;
    margin: 0;
    margin-left: calc(-1 * var(--section-padding));
    margin-top: calc(-1 * var(--section-padding));
    margin-right: 1vw;
    width: 46px;
}

.btn-style {
    display: inline-block;
    height: var(--project-nav-link-height);
    background-color: rgba(255, 255, 255, 0.82);
    color: var(--gold);
    width: 100%;
    font-weight: bold;
    /*margin: 0 1vw 0 0;*/
    letter-spacing: 0.5px;
    line-height: 36px;
    text-transform: uppercase;
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    margin-top: var(--project-display-btn-top-margin);
}

.btn-style:hover {
    background-color: var(--bright-gold);
    color: rgb(238, 238, 238);
}

.btn-style-right {
    padding-left: var(--project-display-info-btn-margin) !important;
}

.btn-style-left {
    padding-right: var(--project-display-info-btn-margin) !important;
}

.btn-style-center {
    padding: 0 var(--project-display-info-btn-margin) !important;
}

.btn-project {
    width: 36px;
    display: block;
    text-align: center;
    position: relative;
    /*background-color: rgba(238, 238, 238, 0);*/
    border-radius: 0 20px 20px 0;
    margin: 0;
    padding: 40px 0;
    padding-top: 60px;
    height: auto;
    margin-top: -35px;
    transition: 0.3s;
}

.btn-project:hover {
    font-size: calc(var(--font-size));
    /*padding-bottom: 55px;*/
    /*padding-top:  75px;*/
    /*margin-top: -50px;*/
    padding-left: 8px;
    width: 44px;;
}

.hobbies-carousel {
    display: inline-block;
    width: 100% !important;
    height: max-content;
}
.carousel-track{
    min-height: max-content !important;
}

/*.indicators{*/
/*    position: relative !important;*/
/*}*/

/*.indicator-item{*/
/*    background-color: rgba(225, 176, 47, 0.4) !important;*/
/*}*/

/*.indicator-item.active {*/
/*    background-color: rgba(225, 176, 47, 0.9) !important;*/
/*}*/

.carousel-row {
}

.carousel-prev:before, .carousel-next:before {
    width: 70px !important;
    height: 70px !important;
    opacity: 0.7 !important;
}

.carousel-next:before {
    background-image: url(./next.svg) !important;
    color: rgba(255, 255, 255, 0.36);
    fill: currentColor;
}

.carousel-prev:before {
    background-image: url(./prev.svg) !important;
    background-size: 125px 175px;
}

.carousel-prev, .carousel-next {
    height: calc(100% - 10px) !important;
    border-radius: 0 !important;
}

.carousel-next:focus {
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.25));
}

.carousel-prev:focus {
    background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.25));
}


.projects-carousel {
    display: none;
}

.hobbies-carousel .carousel-dots {
    position: relative;
    top: calc(-1 * calc(var(--section-padding) + 45px));
    z-index: 5;
    height: 0;
    margin: 0;

}

.hobbies-carousel .carousel-dots li button:before{
    color: white !important;
}

.carousel-dots button:hover {
    transition: 0.3s;
    transform: scale(1.3);
}

.projects-carousel .carousel-dots {
    position: relative;
    top: -1em;
    z-index: 5;
    height: 0;
    margin: 0;

}

.carousel:before {
    content: "";
    display: block;
    padding-top: 100%;
}


.carousel-item-description {
    display: inline-block;
    opacity: 0;
}

.left-side .hobbies-description {
    float: left;

}

.right-side .hobbies-description {
    float: right;
}

.active .carousel-item-description {
    opacity: 100%;
    animation-name: description-animation;
    animation-timing-function: ease-in;
    animation-duration: 0.7s;
}

@keyframes description-animation {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

.projects-swiper {
    position: relative;
    right: 30%;
    width: 160%;
    margin: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-wrapper {
    width: 100% !important;
}

.swiper-container, .swiper-wrapper {
    height: 100%;
    position: relative;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}

.swiper-slide {
    position: relative;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.21);
    /*bottom: 2rem;*/
    overflow: hidden;
    margin-bottom: 3rem;
    border-radius: 12px;
    height: var(--project-display-Size) !important;
    /*background-color: var(--background-color);*/
}

.swiper-slide-active {
    position: relative;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
    bottom: 0;
}

.swiper-center-item {
    opacity: 100%;
    animation-name: swiper-center-item-animation;
    animation-timing-function: ease-in;
    animation-duration: 0.3s;
}

@keyframes swiper-center-item-animation {
    from {
        opacity: 80%;
    }
    to {
        opacity: 100%;
    }
}

.swiper-item {
    opacity: 80%;
    animation-name: swiper-item-animation;
    animation-timing-function: ease-in;
    animation-duration: 0.3s;
}

@keyframes swiper-item-animation {
    from {
        opacity: 100%;
    }
    to {
        opacity: 80%;
    }
}

.swiper-left-item, .swiper-right-item {
    z-index: 0;
    width: 27.5%;
    border-radius: 10px 10px 10px 10px;
    background-color: var(--background-color);
}


.swiper-left-item, .swiper-right-item, .swiper-center-item {
    overflow: visible;
    display: inline-block;
}


.swiper-right-item {
    position: relative;
    left: 10%;
}

.slide-fade-out {
    opacity: 0;
    animation-name: slide-fade-out-animation;
    animation-timing-function: ease-in;
    animation-duration: 0.3s;
}

@keyframes slide-fade-out-animation {
    from {
        opacity: 100%;
    }
    to {
        opacity: 0;
    }
}


.fail {
    background-color: #bd1806;
}

.success {
    background-color: green;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    :root {
        --project-info-padding: 0;
        /*--project-title-font-height: calc(var(--project-title-font-size) + var(--project-title-top-margin) + 8px);*/
        --my-container-margin: 2vw;
    }

    .hobbies-description {
        text-align: center;
        padding-top: 1em;
    }

    .image-wrapper {
        width: fit-content;
    }

    .hobbies-image.left-side, .hobbies-image.right-side {
        border-width: 7px 7px 7px 7px;
        border-style: double;
        border-color: rgba(255, 255, 255, 0.75);
        border-radius: 70vh 70vh 70vh 70vh;
    }

    .image-wrapper.left-side, .image-wrapper.right-side {
        display: inline-block;
        background: rgba(255, 255, 255, 0);
    }

    .contact-title .title {
        margin-top: 0;
        margin-bottom: 0.5em;
    }

    .skills-libraries {
        float: none;
        width: max-content;
        margin-top: 0;
    }
    .hobbies-image {
        height: auto;
        width: 100%;
    }

    .active .hobbies-image-scale-down {
        width: calc(100% * 0.6);
        animation-name: hobbies-image-scale-down-animation;
        animation-timing-function: ease-in;
        animation-duration: 1s;
    }

    @keyframes hobbies-image-scale-down-animation {
        from {
            width: 100%;
            height: auto;
        }
        to {
            width: calc(100% * 0.6);
            height: auto;
        }
    }

    .hobbies-image-scale-up {
        width: 100%;
        animation-name: hobbies-image-scale-up-animation;
        animation-timing-function: ease-in;
        animation-duration: 1s;
    }

    @keyframes hobbies-image-scale-up-animation {
        from {
            width: calc(100% * 0.6);
            height: auto;
        }
        to {
            width: 100%;
            height: auto;
        }
    }

    .hobbies-description{
        -webkit-line-clamp: 4;
        transition: 1s;
    }

    .active .hobbies-description-scale-up {
        -webkit-line-clamp: 10;
        animation-name: hobbies-description-scale-up-animation;
        animation-timing-function: ease-in;
        animation-duration: 1s;
    }


    @keyframes hobbies-description-scale-up-animation {
        from {

            -webkit-line-clamp:5;
        }
        to{
            -webkit-line-clamp: 10;
            height: fit-content
        }
    }
    .active .hobbies-description-scale-down {
        -webkit-line-clamp: 4;
        animation-name: hobbies-description-scale-down-animationanimation;
        animation-timing-function: ease-in;
        animation-duration: 1s;
    }

    @keyframes hobbies-description-scale-down-animation {
        from {
            -webkit-line-clamp: 10;
        }
        to{
            -webkit-line-clamp: 4;
        }
    }

}

@media only screen and (max-width: 800px) {
    .header {
        background-image: url('./for-small-devices/blackMarble.jpg');
    }

    .about {
        background-image: url('./for-small-devices/jesus-kiteque-wn-KYaHwcis-unsplash.jpg');
    }

    .projects-carousel {
        display: block;
    }

    .projects-swiper {
        display: none;
    }

    .project-display-background {
        background-color: rgba(241, 237, 255, 0);
        margin-bottom: 15px !important;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .about-info {
        padding-right: 1.5em !important;
    }

    :root {
        --project-info-padding: 2vw;
        /*--project-title-font-height: calc(var(--project-title-font-size) + var(--project-title-top-margin) + 8px);*/
        --my-container-margin: 5vw;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    :root {
        --project-display-Size: 60vh;;
    }
}